extends app
include mixins

block menu
  li 
    a(href='#configure') configure
  li 
    a(href='#preview') preview

block content
  #configure
    .header
      h1 Broadcast!
      h2 configure your video

    .content
      p#time contents \ 
      p Fill out some info before starting your broadcast
      p You can change these settings later
      form#config.pure-form.pure-form-aligned
        fieldset
          +cGroup("Broadcast Name", "ID")
          +cGroup("Short Description", "description")
          .pure-controls
            button#submit.pure-button.pure-button-primary(type="submit") Start Broadcast
  #preview
    .header
      h1 Preview
      h2 this is what your broadcast will look like to others
    .content
      h3 your video:
      #video-container
      h3 chat room
      #chatRoomContainer